services:
  # --- PostgreSQL ---
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # --- Redis ---
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  # --- MinIO ---
  minio:
    image: minio/minio
    container_name: minio
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  # --- API (NestJS + Prisma) ---
  api:
    build:
      context: .
      target: production
    container_name: nest-api
    restart: unless-stopped
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/appdb?schema=public"
      REDIS_HOST: "redis"
      REDIS_PORT: 6379
      MINIO_ENDPOINT: "http://minio:9000"
      MINIO_PUBLIC_ENDPOINT: "http://localhost:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin123"
      NODE_ENV: "production"
    command: >
      sh -c "
        npx prisma migrate deploy &&
        node dist/main.js
      "
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock      

  # --- Frontend (React + Vite) ---
  web:
    build:
      context: ./web
      target: production
    container_name: codebreaker-web
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "80:80"
    environment:
      VITE_API_URL: "http://localhost:3000"

  

volumes:
  postgres_data:
  redis_data:
  minio_data:
